<div id="container">
    <div class="item">
        <h2>BUSCAR POR REGIÃO ATENDIDA</h2>
        <h3>Endereço</h3>
        <div class="input-group mb-1">
                
                <input id="busca" type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
        </div>
        <button class="btn btn-primary" type="button">BUSCAR</button>
        <h2>DADOS DO LOCAL</h2>
        <div>
                <h3>Endereço</h3>
                
                <div>{{street}}</div>

                
                <h3>Cidade</h3>
                <div>{{administrative_area_level_2}}</div>
                
                <h3>Estado</h3>

                <div>{{administrative_area_level_1}}</div>
               
                <h3>Latitude</h3>
               
                <div>{{latitude}}</div>
                
                <h3>Longitude</h3>
                
                <div>{{longitude}}</div>
                
                <input class="inputBorder" type="text" id="txt" />
        </div>
    </div>
    <div class="item2">
            <agm-map [latitude]="latitude" [zoom]="zoom" [longitude]="longitude">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
             </agm-map>
    </div>
</div>

